.content-input-container {
  text-align: center;
  padding: 20px;
  position: relative;
}

.content-input-container button{
  background-color: white;
  color: black;
  border: solid 1px cadetblue;
}

.current-file-container {
  position: relative;
  text-align: center;
  min-width: 300px; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 20px;
}

.image {
  max-width: 100%;
  max-height: 200px; 
  width: auto;
  height: auto;
}

.Prev-Next-Button {
  display: flex; 
  justify-content: center; 
  margin-top: 20px; 
}

.Prev-Next-Button button {
  margin: 0 10px; 
}

.current-file-container .Remove-button{
  background-color: #1B1B21;
  color: red;
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
}

