.post-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
  }
  
  /* Styles for the videos */
  .post-video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
  }
  
  .profile-user {
    max-width: 600px; /* Adjust the maximum width as needed */
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .post-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }